{% extends "base.html" %}
{% block content %}
{% for cuisine in cuisines %}
{{ cuisine.cuisine_name }}<br>
{{ cuisine.category_name }}<br>
{{ cuisine.cuisine_description }}<br>
{{ cuisine.is_urgent }}<br>
{{ cuisine.due_date }}<br>
{% endfor %}

<ul class="collapsible">
    <li>
        <div class="collapsible-header white-text light-green text-shadow"><i class="fas fa-caret-down"></i>First</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class="collapsible-header white-text light-green text-shadow"><i class="fas fa-caret-down"></i>Second</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class="collapsible-header white-text light-green text-shadow"><i class="fas fa-caret-down"></i>Third</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
</ul>

{% endblock %}